:root {
  /* Primary */
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --clr-bg-main: hsl(217, 54%, 11%);
  --clr-bg-card: hsl(216, 50%, 16%);
  --clr-line: hsl(215, 32%, 27%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--clr-bg-main);
  width: 90rem;
  height: 100vh;
  font-family: "Outfit", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.3125rem;
  height: 34.0625rem;
  background-color: var(--clr-bg-card);
  border-radius: 0.9375rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.card > * {
  width: 85%;
}

.image {
  display: grid;
  position: relative;
  margin: 1.5625rem 0 1.5625rem;
}

.image .equilibrium {
  width: 100%;
  border-radius: 0.5rem;
}

.image .bg-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-cyan);
  border-radius: 0.5rem;
  opacity: 0;
}

.image .bg-overlay:active {
  opacity: 0.6;
}

.image .bg-overlay:hover {
  cursor: pointer;
}

.text h1 {
  margin-bottom: 0.9375rem;
  font-size: 1.375rem;
  font-weight: 400;
  color: #fff;
}

.text h1:hover {
  color: var(--clr-cyan);
  cursor: pointer;
}

.text p {
  margin-bottom: 0.9375rem;
  line-height: 25.6px;
  font-weight: 200;
  color: var(--clr-soft-blue);
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.9375rem;
}

.info > * {
  display: flex;
  font-weight: 300;
  font-size: 1rem;
}

.info .left {
  color: var(--clr-cyan);
}

.info .right {
  color: var(--clr-soft-blue);
}

.left img,
.right img {
  align-self: center;
  margin-right: 0.3125rem;
}

.line {
  border: none;
  border-top: 0.0625rem solid var(--clr-line);
  margin-bottom: 0.9375rem;
}

.credits {
  display: flex;
  align-items: center;
}

.credits img {
  width: 2.0625rem;
  border: 0.0625rem solid #fff;
  border-radius: 100%;
}

.credits p {
  margin-left: 1.125rem;
  font-size: 1rem;
  font-weight: 200;
  color: var(--clr-soft-blue);
}

.credits span {
  color: #fff;
}

.credits span:hover {
  color: var(--clr-cyan);
  cursor: pointer;
}
/* ======================= 
          ATTRIBUTION 
 ======================= */
.attribution {
  color: var(--clr-soft-blue);
  font-size: 0.9375rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: var(--clr-cyan);
}
